.auth {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin: 0 auto;

}

.link:hover{
  color: blue;
}

a {
  text-decoration: none;
  color: rgb(2, 204, 244);
  font-size: 40px;
}
